<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="phones-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="phones-link">
                <a href="{% url 'products' %}?category=iphone" class="dropdown-item">iPhone</a>
                <a href="{% url 'products' %}?category=samsung" class="dropdown-item">Samsung</a>
                <a href="{% url 'products' %}?category=sony" class="dropdown-item">Sony</a>
                <a href="{% url 'products' %}?category=iphone,samsung,sony" class="dropdown-item">All Phones</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="laptops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="laptops-link">
                <a href="{% url 'products' %}?category=macbook" class="dropdown-item">MacBooks</a>
                <a href="{% url 'products' %}?category=asus" class="dropdown-item">Asus</a>
                <a href="{% url 'products' %}?category=macbook,asus" class="dropdown-item">All Laptops</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="consoles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="consoles-link">
                <a href="{% url 'products' %}?category=playstation" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?category=xbox" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?category=playstation,xbox,nintendo" class="dropdown-item">All Consoles</a>
            </div>
        </li>
    </ul>
</div>